.homepage {
  .title {
    font-size: $font-size-heading-x-large !important;
  }
  .wannaBe {
    color: red;
  }
}

.hero {
  // background: url('../../../public/images/shop2.jpg');
  width: 100vw;
  min-height: 600px;
  position: relative;
  margin-left: -123px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: center;
  z-index: 1;
  margin-top: -70px;
  @include media-breakpoint-down(xs) {
    min-height: 300px;
    margin-left: 0px;
  }

  .companyName {
    color: #ffffff !important;
    font-size: 5rem !important;
    z-index: 20;
  }
  .slogan {
    color: #ffffff !important;
    font-size: 2rem !important;
    z-index: 20;
  }

  .searchbar {
    min-height: 68px;
    padding: 1rem 0.5rem;
    width: 90%;
    .oc-react-searchbar-button {
      background: white;
    }
  }
  .overlay {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  @media only screen and (max-width: 600px) {
    .companyName {
      color: #ffffff !important;
      font-size: 2rem !important;
      z-index: 20;
    }
    .slogan {
      color: #ffffff !important;
      font-size: 1rem !important;
      z-index: 20;
    }
  }
 
}
